.profile_pic {
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  object-fit: cover;
}

.blue-font {
  color: #28527a;
}

.toggle button {
  margin: 10px 0px;;
  background-color: #315e92;
  color: #f4d160;
  text-decoration: none;
}

.toggle button:hover {
  background-color: #28527a;
  color: #f4d160;
  text-decoration: none;
}

.freelancer_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 25px 5px;
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #315e92!important;
  }

.light-blue-bg {
  background-color: #315e92!important;
}

.freelancer_card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #f4d160;
  background-color: #28527a;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.freelancer_card button:hover {
  background-color: #28527acc;
  text-decoration: none;
  color: #f4d160c4;
}

.card_image {
    height: 125px;
    width: 100%;
    object-fit: cover;

}

.freelancer_header {
  text-align: center;
  padding: 20px;
}

.card_btn {
  cursor: pointer;
  font-weight: 9000;
}

.card_btn:hover {
  color: #f4d160bb;

}

.footer {
  padding: 20px;
}
